.add-diary-entry-dialog-root {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: flex-start;

  .first-column {
    width: 10em;
  }

  .rs-form-group:not(.first-column) {
    flex-grow: 1;
  }

  form {
    width: 100%;

    display: flex;
    gap: 1em;
  }
}
