.diary-list-of-days {
  list-style: none;

  margin: 0;
  padding: 0;

  & > li {
    margin-bottom: 4rem;

    &:last-child {
      margin-bottom: unset;
    }
  }
}

.diary-day-overview-entry {
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: 3em;
  grid-row-gap: 0.5em;

  .diary-view-entries-header {
    display: flex;
    gap: 2em;

    align-items: center;
  }

  .diary-view-entries-container {
    display: flex;
    flex-direction: column;

    .time-col {
      width: 100px;
    }

    .amount-col {
      width: 50px;
    }
  }

  .diary-view-nutrition-header {
    display: flex;
    align-items: center;
  }

  .diary-view-nutrition-overview {
    display: grid;
    grid-template-columns: repeat(2, max-content 6rem);
    grid-column-gap: 1em;
    grid-row-gap: 0.2em;
  }
}

.format-time {
  font-style: italic;
}
