:root {
  --app-header-height: 50px;
  --app-layout-border: 1px solid var(--rs-border-primary);
}

.app-base-layout {
  height: 100%;
}

.brand {
  height: var(--app-header-height);
  border-bottom: var(--app-layout-border);
  padding-left: 15px;
  font-size: 20px;
  overflow: hidden;

  & .rs-icon {
    min-height: 25px;
    min-width: 25px;
  }

  & p {
    white-space: nowrap;
  }
}

.nav-toggle {
  border-top: var(--app-layout-border);
  padding: 6px;
}

.app-sidebar {
  display: flex;
  flex-direction: column;
  border-right: var(--app-layout-border);

  & .rs-sidenav {
    height: 100%;
  }
}

#content-layout-root {
  display: flex;
  flex-direction: column;

  .rs-panel {
    flex: auto;
    overflow: auto;

    display: flex;
    flex-direction: column;

    .rs-panel-body {
      flex: auto;
    }
  }

  .rs-header {
    .rs-breadcrumb,
    .rs-text {
      margin-bottom: 0;
      font-size: 20px;

      a {
        color: var(--rs-text-link);
      }
    }
  }
}
