.app-base-layout {
  --app-header-height: 50px;
  --app-layout-border: 1px solid var(--rs-border-primary);
  height: 100%;

  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.brand {
  height: var(--app-header-height);
  border-bottom: var(--app-layout-border);
  padding-left: 15px;
  font-size: 20px;
  overflow: hidden;

  & .rs-icon {
    min-height: 25px;
    min-width: 25px;
  }

  & p {
    white-space: nowrap;
  }
}

.nav-toggle {
  border-top: var(--app-layout-border);
  padding: 6px;
}

.app-sidebar {
  display: flex;
  flex-direction: column;
  border-right: var(--app-layout-border);

  & .rs-sidenav {
    height: 100%;
  }
}

#content-container-root {
  display: flex;
  flex-direction: column;

  overflow: auto;
  padding: 1rem;

  flex-grow: 1;

  .content-container-header {
    display: flex;
    align-items: flex-start;

    margin-bottom: 1.5em;

    .rs-header {
      flex: auto;

      .rs-breadcrumb,
      .rs-text {
        margin-bottom: 0;
        font-size: 24px;

        a {
          color: var(--rs-text-link);
        }
      }
    }
  }

  .content-container-body {
    flex: auto;
  }
}
