html,
body {
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
}

.two-column-form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;

  .rs-plaintext {
    height: 35px;
  }
}

.rs-form-group {
  margin-bottom: 10px !important;
}
